.barchart-container {
  height: 46rem;
  overflow-y: hidden;
}
.bar-sub {
  display: flex;
  align-items: center;
}
.bar-sub div {
  margin: 0 1rem;
  overflow-y: hidden;
}
.bar-info {
  height: 7rem;
  width: 15rem;
  top: 2rem;
  text-align: center;
  left: 2rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media screen and (max-width: 768px) {
  .bar-sub {
    flex-direction: column;
    margin-top: 1rem;
  }
}
