.barchart-container {
  height: 46rem;
  overflow-y: hidden;
}
.bar-sub {
  display: flex;
  align-items: center;
}
.bar-sub div {
  margin: 0 1rem;
  overflow-y: hidden;
}

@media screen and (width < 768px) {
  .bar-sub {
    flex-direction: column;
    margin-top: 1rem;
  }
}
