@import url("boilerplate.css");

/* Header section styles */
.notification-icon {
  cursor: pointer;
}
.caret-down {
  position: relative;
  cursor: pointer;
}
.toggle-btn .toggle-icon {
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
  /* border: 1px solid red; */
}
.caret-down::after {
  content: "\276F";
  transform: rotate(90deg);
  display: inline-block;
  font-weight: 600;
  padding: 0.5rem;
}

.background-blue:hover {
  background-color: #2956c9;
}
.aside-item {
  transition: color 0.5s ease;
}
.aside-item:hover {
  transition: 0.8s ease;
}
.aside-item:hover svg path {
  fill: #25672f;
}
.aside-item.active-item {
  color: #25672f;
  font-weight: 800;
}
.aside-item.active-item svg path {
  fill: #25672f;
}
table {
  border-collapse: collapse;
  /* width: 1200px; */
}
table,
td,
th {
  padding: 0.4rem;
}
th {
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  color: #25672f;
}

.table-container {
  /* max-width: 850px;
  overflow: auto; */
}
.table-container::-webkit-scrollbar {
  /* background: transparent; */
  border-radius: 6px;
  width: 10px;
  height: 6px;
}
.table-container::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 2px;
}
.apartment-details .item-properties h4 {
  color: #25672f;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.apartment-details .item-values p {
  margin-bottom: 1rem;
}
