.home-features {
  padding: 0rem 5rem;
}
.feature-cards figure {
  transition: 0.6s ease-in-out;
  padding: 0.7rem;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 1px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.feature-cards h4 {
  font-size: 1.2rem;
  text-align: center;
}
.feature-cards p {
  font-size: 0.8rem;
  text-align: center;
}
.features-container {
  display: flex;
  position: relative;
  padding: 0 4rem;
  align-items: center;
}
.features-container .feature-image {
  height: 25rem;
  width: 35rem;
  border-radius: 2rem;
  margin: 2rem;
}
@media screen and (width < 768px) {
  .features-container {
    flex-direction: column;
    padding: 0 1rem;
  }
  .features-container .feature-image {
    height: 14rem;
    width: 99vw;
    margin-left: 3rem;
    border-radius: 2rem 0 0 2rem;
    margin: 2rem;
  }
  .home-features {
    padding: 0rem 0rem;
    margin-bottom: -7rem;
  }
}
